<aside class="menu" style="background-color: whitesmoke ;padding: 10px;">
    <p class="menu-label">
        {{.user}}'s Info
    </p>
    <ul class="menu-list">
        <li><a>Username: {{.name}}</a></li>
        <li><a>Email: {{.email}}</a></li>
        <li><a>Info: {{.info}}</a></li>
    </ul>
    <p class="menu-label">
        SDK Info
    </p>
    <ul class="menu-list">
        <li><a>ID: <u><span class="bolded">{{.uuid}}</span></u></a></li>
        <li><a>Package Name: {{.packageName}}</a></li>
    </ul>
</aside>