<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<header></header>
<main>
    <form action="/dashboard" method="get">
        <div class="columns"
             style="text-align:center;margin:10px;padding:20px">

            <cite>User Id: </cite> <input style="text-align:center;margin-left:20px;padding:10px" class="field"
                                          type="text"/> <br/><br/><br/>

            <cite>Send Data Type: </cite>
            <input style="text-align:center;margin-left:20px;padding:20px" class="field" type="radio" name="is_live"/>
            Send Data Live
            <input style="text-align:center;margin-left:40px;padding:20px" class="field" type="radio" name="is_live"/>
            Send Data By a File<br/><br/><br/>


            <cite>Network Type: </cite>
            <select style="text-align:center;margin-left:20px" class="field">
                <option>Connected</option>
                <option>Data</option>
                <option>Wi-Fi</option>
                <option>Roaming</option>
                <option>Disconnected</option>
            </select><br/><br/><br/>


            <cite>Select Save Policy: </cite>
            <input type="checkBox" id="saveRequest" name="saveRequest" value="saveRequest"/>
            <label for="saveRequest">Save Request Data</label><br>

            <input style="margin-left:140px" type="checkBox" id="saveResponse" name="saveResponse"
                   value="saveResponse"/>
            <label for="saveResponse">Save Response Data</label><br>

            <input style="margin-left:178px" type="checkBox" id="saveError" name="saveError" value="saveError"/>
            <label for="saveError">Save Error Response Data</label><br>

            <input style="margin-left:215px" type="checkBox" id="saveSuccess" name="saveSuccess" value="saveSuccess"/>
            <label for="saveSuccess">Save SuccessFul Response Data</label><br><br/><br><br/>

            <cite>Send Data Time Range: </cite>
            <select style="text-align:center;margin-left:20px" class="field">
                <option>Day</option>
                <option>Second</option>
                <option>Minute</option>
                <option>Hour</option>
            </select>
            <input style="width:50px" type="number" min="1" max="10" value="1"/>
            <br/><br/><br/>

            <cite>Device Policy: </cite>
            <input type="checkBox" id="requiresBatteryNotLow" name="requiresBatteryNotLow"
                   value="requiresBatteryNotLow"/>
            <label for="requiresBatteryNotLow">send Data when Battery Is Not Low</label><br>
            <input style="margin-left:143px" type="checkBox" id="requiresStorageNotLow" name="requiresStorageNotLow"
                   value="requiresStorageNotLow"/>
            <label for="requiresStorageNotLow">send Data when User Has Enough Storage</label><br>
            <input style="margin-left:103px" type="checkBox" id="requiresCharging" name="requiresCharging"
                   value="requiresCharging"/>
            <label for="requiresCharging">send Data when Device Is Charging</label><br>
            <input style="margin-left:119px" type="checkBox" id="requiresDeviceIdl" name="requiresDeviceIdl"
                   value="requiresDeviceIdl"/>
            <label for="requiresDeviceIdl">send Data when Device Is In Idl Mode</label><br><br/><br><br/>


            <cite>FirstUrl: </cite> <input
                style="width:500px;text-align:center;margin-left:20px;padding:10px" class="field"
                type="text" value="https://google.com, https://youtube.com, ..."/>
            <br/><br/><br/>


            <cite>SecondUrl: </cite>
            <input
                    style="width:500px;text-align:center;margin-left:20px;margin-bottom:10px;padding:10px" class="field"
                    type="text" value="https://github.com/nima-abdpoor/*/1111/"/><br>
            <cite>Regex: </cite><input
                style="width:400px;text-align:center;margin-left:20px;padding:10px" class="field"
                type="text" value="([\\d]+)"/>
            <br/><br/><br/>

            <cite>RequestUrl: </cite> <input
                style="width:500px;text-align:center;margin-left:20px;padding:10px" class="field"
                type="text" value="http://192.168.1.1, https://DCMS.com"/>
            <br/><br/><br/>


            <div class="rows"
                 style="text-align:center;margin:10px;padding:20px">
                <div>
                    <button style="text-align:center;margin:10px;padding:10px" class="button is-link">Submit Config</button>
                </div>

                <div style="text-align:center;margin:10px;padding:20px" class="field">
                    <button style="text-align:center;margin:10px;padding:10px" class="button is-link">Go To Dashboard</button>
                </div>
            </div>



        </div>
    </form>
</main>
<footer></footer>
</body>
</html>
